*{
    margin : 0px;
    padding : 0px;
    font-family: sans-serif;
    overflow-x:hidden;
  }
  
  .Blinkit-Navbar
  {
    border-bottom:1px solid #eeeeee ;
    position: sticky;
    top: 0px;
    height: 86px;
    background-color: white;
    z-index:1;
  }
  
  .Vertical-Line
  {
    border-left:1px solid #eeeeee;
    height: 100%;
    margin: 10px;
  }
  
  .Location>p
  {
     font-size: 13px;
     font-weight: 400;
  
  }
  
  .SearchBar
  {
    background-color: #f8f8f8;
    border-radius: 8px;
    border-left: 1px solid #eeeeee;
    padding: 10px;
    width: 40vw;
  }
  .SearchBar>input{
    border: none;
    background-color: transparent ;
    width: 95%;
    font-size: 14px;
    color: #f8f8f8;
  }
  
  .SearchBar>input:focus{
    outline: none;
  }
  
  .MyCart-Button
  {
    background-color: green;
    height: 52px;
    width: 112px;
    border-radius: 8px;
  }
  
  .Hero-Section>img
  {
   width: 85vw;
  }
  
  
  .Scrollable-Section
  {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 83vw;
    margin-inline: auto;
  }
  
  .list
  {
    width: 100%;
    margin-inline: auto;
    white-space: nowrap;
  }
  
  .list>div
  {
    display: inline-block;
    margin: 10px;
  }
  
  ::-webkit-scrollbar
  {
    display: none;
  }
  
  .my-categories {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 85vw;
    margin-inline: auto;
    overflow-x: auto;
  }
  
  .my-category-div
  {
    width: 85vw;
    justify-content: center;
    margin-inline: auto;
  }
  
  .my-card
  {
    width: 190px;
    box-sizing: border-box;
  }
  
  .time-taken
  {
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
    width: fit-content;
    padding:1px 3px;
  }
  
  .product-name
  {
    color:  rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-inline: auto;
  }
  
  .product-weight
  {
    font-size: 13px;
    color: rgb(94, 94, 94);
  }
  
  .product-price
  {
    columns: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
  }
  
  
  .canceled-product-price
  {
    color: rgb(130, 130, 130);
    font-weight: 400;
    font-size: 12px;
    text-decoration-line: line-through;
    margin-top: 20px;
  }
  
  .product-btn
  {
    border: 1px solid green;
    color: green;
    background-color: rgb(247, 255, 249);
    width: 66px;
    font-weight: 200;
    padding: 5px 10px;
  }
  
  .my-category-row
  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-inline: auto;
    white-space: nowrap;
    overflow-x: auto;
  }
  
  .my-category-row>div
  {
    display: inline-block;
    margin: 10px;
  }
  
  .my-card {
    flex: 0 0 auto; /* Prevent cards from shrinking */
    width: 165px; /* Set a fixed width for each card */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .my-footer
  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  }
  
  .row-1
  {
    font-size: 16px;
    padding: 10px;
    text-align: justify;
    align-items: center;
  }
  
  
  
  @media (max-width: 768px) {
      .Blinkit-Navbar {
        display: flex;
        flex-direction: column;
        height: auto;
      }
  
      .Logo {
        width: 100%;
      }
  
      .Vertical-Line {
        display: none;
      }
      .Location {
        margin-top: 0px;
      }
      .SearchBar {
        width: 100%;
        display: flex;
        flex-direction: row;
      }
      .btn-login-button {
        margin-top: 10px;
        font-weight: bold;
        background-color: green;
        color: #eeeeee;
        padding: 5px;
        border-radius: 10%;
        margin-bottom: 10px;
      }
      .MyCart-Button {
        display: none;
      }
    
    .Hero-Section
    {
      max-width: 100%;
      margin: 5px;
    }
  
    .image {
      display: flex;
      overflow: hidden;
      width: 100%;
      animation: slide 8s infinite;
    }
  
    .image>img {
    max-width: 100%;
    }
  
    .item {
      flex: 0 0 auto;
      width: 100%;
      transition: transform 2s  ease-out;
    }
    
    @keyframes slide {
      0%, 100% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-100%);
      }
      50% {
        transform: translateX(-200%);
      }
      75% {
        transform: translateX(-300%);
      }
    }
    
    .my-categories {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 15px;
    }
    
    .my-category-row {
      flex-wrap: nowrap; /* Prevent cards from wrapping in a new line */
    }
  
  }
    